<!DOCTYPE html>
{%load static%}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Help Desk v 1.0 | FAQ</title>
	<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolorempor incididunt set">
	<meta name="keywords" content="lorem, ipsum, dolor, sit, amet, consectetur, adipisicing, elit">
	<!-- Favicon -->
	<!--<link rel="icon" href="">-->
 	<!--<link rel="shortcut icon" href="">-->
	<!-- JavaScript Scripts -->
	<script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
	<script src="{%static 'js/jqueri-ui.js'%}"></script>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{%static 'css/main.css'%}">
	<script>
	$( function() {
			$( "#datepicker" ).datepicker();
		} );
	</script>
	

</head>
<body>
	<header class="header" id="header">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-between">
				<div class="col-lg-2">
					<div class="logo ttu">
						Help Desk v 1.0
					</div>
				</div>
				<div class="col-lg-4 d-flex justify-content-end">
					<nav>
						<ul class="menu ttu d-flex">
							{%if isWorker%}
							<li class="menu__item">
								<a href="list-tickets-admin.html" class="menu__link">
									Рассмотреть заявки
								</a>
							</li>
							{%endif%}
							<li class="menu__item">
								<a href="list-tickets.html" class="menu__link">
									Заявки
								</a>
							</li>
							<li class="menu__item">
								<a href="faq.html" class="menu__link">
									F.A.Q.
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-lg d-flex align-items-center justify-content-end">
					<img src="{%static 'img/icon-user.png'%}" class="user-logo">
					<div class="user-account">
						<p class="user-name">
							{{user}}
						</p>
					</div>
					<a href="{%url 'helpdesk:logout'%}"><div class="exit"></div>
				</div>
			</div>
		</div>
	</header>
	{%block contents%}{%endblock%}
	<footer class="footer" id="footer">
		<div class="container"></div>
	</footer>
	<!-- JS Scripts -->
	<script src="{%static 'js/main.js'%}"></script>
</body>
</html>