{%extends 'helpdesk/father_frame.html'%}
{%block contents%}
	<section class="section-one-class" id="section-one-id">
		<div class="container">
			<div class="row">
				<div class="col">
					<a href="#" onclick="history.back();return false;" class="toback">Назад</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg d-flex justify-content-center">
					<ul class="list-tickets">
						<li class="wr-label d-flex justify-content-between">
							<div class="label-name_ticket d-none d-md-block">
								<p>Имя Специалиста</p>
							</div>
							<div class="label-text_ticket">
								<p>Тема</p>
							</div>
							{%if isAdmining%}
								<div class="label-text_ticket d-none d-md-block">
									<p>Заявитель</p>
								</div>
							{%endif%}
							<div class="label-depart_ticket d-none d-md-block">
								<p>Отдел</p>
							</div>
							<div class="label-place_ticket d-none d-md-block">
								<p>Место</p>
							</div>
							<div class="label-priority_ticket">
								<p>До</p>
							</div>
						</li>
						{% for object in object_list %}
						<li class="wr-tickets">
							<a href="{%if isAdmining%}{%url 'helpdesk:view_ticket_admin' object.pk%}
									{%else%}{%url 'helpdesk:view_ticket' object.pk%}{% endif %}" class="d-flex">
								<div class="ticket-name d-none d-md-block">
									<p>{%if object.first_name == ''%}Ожидается{%else%}
										{{object.worker.first_name}} {{object.worker.last_name}}{%endif%}</p>
								</div>
								<div class="ticket-text">
									<p>{{object.theme}}</p>
								</div>
								{%if isAdmining%}
									<div class="ticket-name d-none d-md-block">
										<p>{{object.requestor.first_name}} {{object.requestor.last_name}}</p>
									</div>
								{%endif%}
								<div class="ticket-depart d-none d-md-block">
									<p>{{object.targeted_department.name}}</p>
								</div>
								<div class="ticket-place d-none d-md-block">
									<p>{{object.place}}</p>
								</div>
								<div class="ticket-priority">
									<p>{%if object.priority == 0%}{%endif%}{%if object.priority == 2%}{%endif%}{%if object.priority == 1%}{%endif%}
										{{object.exp_date.day}}/{{object.exp_date.month}}/{{object.exp_date.year}}
									</p>
								</div>
							</a>
						</li>
						{%endfor%}
						
					</ul>
				</div>
			</div>
			{%if not isAdmining%}
			<div class="row">
				<div class="col">
					<a href="{%url 'helpdesk:new_ticket'%}" class="btn btn_new-message">
						+ Новая заявка
					</a>
				</div>
			</div>
			{%endif%}
		</div>
	</section>
{%endblock%}