{%extends 'helpdesk/father_frame.html'%}
{%block contents%}
	<section class="section-one-class" id="section-one-id">
		<div class="container">
			<div class="row">
				<div class="col">
					<a href="#" onclick="history.back();return false;" class="toback">Назад</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg d-flex justify-content-center">
					<ul class="list-messages">
						<li class="wr-label d-flex justify-content-between">
							<div class="label-text">
								<p>Тема сообщения(проблема)</p>
							</div>
							<div class="label-depart">
								<p>Отдел</p>
							</div>
							<div class="label-status">
								<p>Лицо</p>
							</div>
							<div class="label-date">
								<p>Дата</p>
							</div>
						</li>
						{%for message in messages%}
							<li class="wr-messages">
								<a href="{%url 'helpdesk:view_message' message.pk%}" class="d-flex justify-content-between">
									<div class="message-text">
										<p>{{message.ticket.theme}}</p>
									</div>
									<div class="message-depart">
										<p>{{message.ticket.targeted_department.name}}</p>
									</div>
									<div class="message-status">
										<p>
											{%if message.sender is watcher%}{{message.sender.first_name}} {{message.sender.last_name}}{%else%}{{message.reciver.first_name}} {{message.reciver.last_name}}{%endif%}
										</p>
									</div>
									<div class="message-date">
										<p>{{message.date}}</p>
									</div>
								</a>
							</li>
						{%endfor%}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="new-message.html" class="btn btn_new-message">
						+ Новое сообщение
					</a>
				</div>
			</div>
		</div>
	</section>
{%endblock%}