<!DOCTYPE html>
{%load static%}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Help Desk v 1.0 | Список сообщений</title>
	<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolorempor incididunt set">
	<meta name="keywords" content="lorem, ipsum, dolor, sit, amet, consectetur, adipisicing, elit">
	<!-- Favicon -->
	<!--<link rel="icon" href="//wayup.in/assets/templates/wp/images/logo-footer.png" type="image/x-icon">-->
 	<!--<link rel="shortcut icon" href="//wayup.in/assets/templates/wp/images/logo-footer.png" type="image/x-icon">-->
	<!-- CSS Styles -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{%static 'css/main.css'%}">
</head>
<body>
	<header class="header" id="header">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-between">
				<div class="col-lg-2">
					<div class="logo ttu">
						Help Desk v 1.0
					</div>
				</div>
				<div class="col-lg-4 d-flex justify-content-end">
					<nav>
						<ul class="menu ttu d-flex">
							{%if isWorker%}
							<li class="menu__item">
								<a href="list-tickets-admin.html" class="menu__link">
									Рассмотреть заявки
								</a>
							</li>
							{%endif%}
							<li class="menu__item">
								<a href="list-tickets.html" class="menu__link">
									Заявки
								</a>
							</li>
							<li class="menu__item">
								<a href="list-messages.html" class="menu__link">
									Сообщения
								</a>
							</li>
							<li class="menu__item">
								<a href="faq.html" class="menu__link">
									F.A.Q.
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-lg d-flex align-items-center justify-content-end">
					<img src="{%static 'img/icon-user.png'%}" class="user-logo">
					<div class="user-account">
						<p class="user-name">
							{{user}}
						</p>
					</div>
					<div class="exit"></div>
				</div>
			</div>
		</div>
	</header>
	<section class="section-one-class" id="section-one-id">
		<div class="container">
			<div class="row">
				<div class="col">
					<a href="#" onclick="history.back();return false;" class="toback">Назад</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg d-flex justify-content-center">
					<ul class="list-messages">
						<li class="wr-label d-flex justify-content-between">
							<div class="label-text">
								<p>Тема сообщения(проблема)</p>
							</div>
							<div class="label-depart">
								<p>Отдел</p>
							</div>
							<div class="label-status">
								<p>Лицо</p>
							</div>
							<div class="label-date">
								<p>Дата</p>
							</div>
						</li>
						{%for message in messages%}
							<li class="wr-messages">
								<a href="{%url 'helpdesk:view_message' message.pk%}" class="d-flex justify-content-between">
									<div class="message-text">
										<p>{{message.ticket.theme}}</p>
									</div>
									<div class="message-depart">
										<p>{{message.ticket.targeted_department.name}}</p>
									</div>
									<div class="message-status">
										<p>
											{%if message.sender is watcher%}{{message.sender.first_name}} {{message.sender.last_name}}{%else%}{{message.reciver.first_name}} {{message.reciver.last_name}}{%endif%}
										</p>
									</div>
									<div class="message-date">
										<p>{{message.date}}</p>
									</div>
								</a>
							</li>
						{%endfor%}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="new-message.html" class="btn btn_new-message">
						+ Новое сообщение
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container"></div>
	</footer>
	<!-- JS Scripts -->
	<script src="{%static 'js/main.js'%}"></script>
</body>
</html>