{%extends 'helpdesk/father_frame.html'%}
{%block contents%}
	<section class="section-two-class" id="section-two-id">
		<div class="container">
			<div class="row">
				<div class="col">
					<a href="#" onclick="history.back();return false;" class="toback">Назад</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg d-flex justify-content-center">
					<form action="#" class="log clients__form review-form" id="popupMessage">
						
						<h3 class="log__title">Cообщение</h3>
						<div class="log__wrap">
							<div class="log__group">
								<label>Лицо:</label>
								<p class="log__input">
									{%if message.sender is watcher%}{{message.sender.first_name}} {{message.sender.last_name}}{%else%}{{message.reciver.first_name}} {{message.reciver.last_name}}{%endif%}
								</p>
							</div>
							<div class="log__group">
								<label>Дата:</label>
								<p class="log__input">
									{{message.date}}
								</p>
							</div>
							<div class="log__group">
								<label>Тема (проблема):</label>
								<p class="log__input">
									{{message.ticket.theme}}
								</p>
							</div>
							<div class="log__group log__group_textarea">
								<label>Сообщение:</label>
								<p class="log__input">
									{{message.text}}
								</p>
							</div>
						</div>
						<!--<div class="log__btn">
							<input id="del" type="submit" data-submit value="Удалить" class="btn btn_del"/>
						</div>-->
					</form>


				</div>
			</div>
			
		</div>
	</section>	
{%endblock%}